@use '../../styles/index' as *;

.cart {
  width: clamp(100%, 100%, 1600px);
  padding-left: 100px;
  padding-right: 100px;
  padding-top: 50px;
  margin: 0;

  color: setColor(neutral-dark);

  @media only screen and (max-width: 800px) {
    padding-left: 20px;
    padding-right: 20px; 
  }

  &__title {
    font-size: setFontSize(h2);
    font-weight: 700;

    @media only screen and (max-width: 800px) {
      font-size: setFontSize(h3);
    }
  }

  &__labels {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style-type: none;
    padding-left: 0;

    @media only screen and (max-width: 800px) {
      grid-template-columns: 2fr 1fr 1fr; 
    }

    & > li {
      @include flexCenter(row);
      padding: 10px 20px;

      font-size: setFontSize(normal);
      font-weight: 500;
      background-color: #f1f1f1;

      &:not(:last-child) {
        border-right: 2px solid setColor(neutral-light);
      }

      @media only screen and (max-width: 800px) {
        font-size: setFontSize(sub1);
        padding: 10px;
      }
    }
  }

  &__checkout {
    display: grid;
    grid-template-columns: repeat(3, 1fr);

    @media only screen and (max-width: 800px) {
      grid-template-columns: 2fr 1fr 1fr;
    }
    
    & > div {
      @include flexCenter(row);
      grid-column-start: -1;
      grid-column-end: -2;      
    }

    &-button {
      padding: 10px 30px;
      color: setColor(neutral-light);
      background-color: setColor(primary);
      text-decoration: none;

      @media only screen and (max-width: 800px) {
        padding: 10px 20px;
      }

      &--disabled {
        opacity: 0.5;
      }
    }
  }
}