@mixin flexCenter($direction: row) {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: $direction;
}

@mixin backgroundImgStyles($size: cover) {
  background-position: center;
  background-size: $size;
  background-repeat: no-repeat;
}