*, *::before, *::after {
  box-sizing: border-box;
}

html {
  display: flex;
  justify-content: center;
}

body {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  justify-content: center;
  width: 100vw;
  max-width: 1680px;
  height: 100vh;
  padding: 0;
  margin: 0;

  font-family: "Roboto", sans-serif;
  
  overflow-x: hidden;
}