@use '../../styles/index' as *;

.card {
  display: flex;
  flex-direction: column;
  border-radius: 5px;

  font-family: inherit;

  color: set-color(neutral-dark);

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;

  //          ELEMENTS            //

  &__media {
      min-width: 100%;
      width: 100%;
      max-width: 100%;
      height: 200px;
      margin-bottom: 15px;

      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
  }

  &__content {
    .content__title {
      margin: 0 0 15px 10px;

      font-size: set-font-size(h2);
      font-weight: set-font-weight(bold);

      //      MEDIA QUERIES

      @media only screen and (max-width: 500px) {
        margin-bottom: 20px;

        text-align: center;
      }
    }

    .content__details {
      display: flex;
      padding: 0 10px;
      margin-bottom: 15px;

      font-size: set-font-size(sub1);
      line-height: 28px;

      overflow: hidden;

      //      MEDIA QUERIES

      @media only screen and (max-width: 500px) {
        display: none;
      }

      .details__labels, .details__texts {
        padding: 0;
        margin: 0;

        list-style-type: none;
      }

      .details__labels {
        margin-right: 10px;

        font-weight: set-font-weight(medium);
      }
    }
  }

  &__add-to-cart {
    display: flex;
    justify-content: flex-end;
    padding: 0 20px;
  }
}

.details__description {
  height: clamp(100px, 100px, 100px);
  padding: 0 10px;
  margin-bottom: 15px;

  font-size: set-font-size(sub1);
  line-height: 22px;

  color: set-color(neutral-dark);
  
  overflow-x: hidden;

  //      MEDIA QUERIES

  @media only screen and (max-width: 500px) {
    display: none;
  }

  .description__text {
    margin: 0;
  }
}

.button__add-to-cart {
  min-width: 130px;
  width: 130px;
  max-width: 130px;
  padding: 10px;
  border: 0;
  margin-left: 10px;
  margin-bottom: 20px;

  color: set-color(neutral-light);
  
  cursor: pointer;
  transition: transform 0.3s ease;

  //      PSEUDO-CLASSES

  &:hover {
    transform: scale(1.05);
  }

  //      STATES

  &--unavailable {
    background-color: set-color(warning);
  }

  &--available {
    background-color: set-color(primary);
  }

  &--added {
    opacity: 0.5;
  }
}