@use '../../styles/index' as *;

.divider__with-text {
  position: relative;
  height: 20px;
  @include flexCenter(row);
  overflow: hidden;

  hr {
    position: absolute;
    width: 100%;
    height: 1px;
    color: setColor(neutral-dark);
  }

  p {
    position: absolute;
    @include flexCenter(row);
    background-color: setColor(neutral-light);
    color: setColor(neutral-dark);
    padding: 5px 40px;
    font-size: setFontSize(sub2);
  }
}