@use '../../styles/index' as *;

.checkout {
  @include flex-center;
  height: calc(100vh - 120px);

  background-image: url('../../assets/images/landing-page.jpg');
  @include bg-img-styles;
  
  overflow: hidden;
}