@use '../../styles/index' as *;

.checkout-form {
  padding: 40px;

  background-color: setColor(neutral-light);

  & > *:not(:last-child) {
    margin-bottom: 40px;
  }

  &__title {
    margin: 0;

    color: setColor(neutral-dark);

    font-size: setFontSize(h2);
  }

  &__submit-button {
    width: 100%;
    padding: 15px 30px;
    border: 0;

    background-color: setColor(primary);
    color: setColor(neutral-light);

    font-size: setFontSize(h3);

    cursor: pointer;

    &--disabled {
      opacity: 0.5;
      cursor: default;
    }
  }

  .input-control {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;

    &__input {
      z-index: 1;
      width: 300px;
      padding: 10px;
    }

    &__message {
      position: absolute;
      right: 0;
      z-index: -1;

      color: setColor(warning);

      transition: transform 0.3s ease;

      &--show {
        z-index: 2;

        transform: translateY(-30px);
      }
    }
  }
}