@use '../../styles/index' as *;

.checkout-form {
  padding: 40px;
  background-color: setColor(neutral-light);

  & > *:not(:last-child) {
    margin-bottom: 40px;
  }

  &__title {
    margin: 0;
    color: setColor(neutral-dark);
    font-size: setFontSize(h2);
  }

  &__submit-button {
    width: 100%;
    padding: 15px 30px;
    background-color: setColor(primary);
    border: 0;
    color: setColor(neutral-light);
    cursor: pointer;
    font-size: setFontSize(h3);

    &--disabled {
      opacity: 0.5;
      cursor: default;
    }
  }

  .input-control {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;

    &__input {
      width: 300px;
      padding: 10px;
      z-index: 1;
    }

    &__message {
      position: absolute;
      right: 0;
      transition: transform 0.3s ease;
      color: setColor(warning);
      z-index: -1;

      &--show {
        transform: translateY(-30px);
        z-index: 2;
      }
    }
  }
}