@use '../../styles/index' as *;

.form__control {
  display: flex;
  flex-direction: column;
  width: clamp(100px, 100%, 460px);
}

.form__label {
  font-family: inherit;
  font-size: setFontSize(h3);
  font-weight: 400;

  opacity: 0.7;
}

.form__input {
  width: clamp(100px, 100%, 460px);
  height: 40px;
  padding: 8px;
  border: 2px solid setColor(neutral-dark);
  border-radius: 8px;
  margin-top: 4px;
  
  font-size: setFontSize(regular);

  &:focus {
    outline-color: setColor(primary);
  }
}