@use '../../styles/index' as *;

.header {
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: clamp(120px, 120px, 120px);
  padding: 0 40px;

  background-color: setColor(neutral-dark);

  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  overflow: hidden;

  //          COMPONENTS           //

  &__logo {
    width: clamp(160px, 160px, 160px);
    height: clamp(160px, 160px, 160px);

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  &__title {
      color: setColor(neutral-light);

      //      MEDIA QUERIES

      @media only screen and (max-width: 800px) {
        display: none;
      }
  }

  &__cart {
    @include flexCenter(row);
    padding: 10px 20px;

    background-color: setColor(primary);
    color: setColor(neutral-light);

    text-decoration: none;

    & > :first-child {
      margin-right: 10px;
    }

    .counter {
      @include flexCenter(row);
      width: clamp(25px, 25px, 25px);
      height: clamp(25px, 25px, 25px);
      border-radius: 12.5px;

      background-color: setColor(neutral-light);
      color: setColor(primary);

      & > .counter__text {
        padding: 4px;
      }
    }
  }
}
